<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
    class="ro.sync.exml.plugin.Plugin"

    id="web-author-rest-connector"
    name="REST Connector"
    description="oXygen XML Web Author connector for a generic REST API"
    version="${project.nosnapshot.version}"
    vendor="Syncro Soft SRL">

  <runtime>
    <librariesFolder name="lib" />
    <librariesFolder name="target/lib" />
    <library name="target/classes" />
  </runtime>

  <!-- Login servlet -->
  <extension type="WebappServlet" class="com.oxygenxml.rest.plugin.LoginCallbackServlet"/>
  
  <extension type="URLHandler" 
    class="com.oxygenxml.rest.plugin.RestURLHandlerPluginExtension"/>
  <extension type="WorkspaceAccess" 
    class="com.oxygenxml.rest.plugin.AuthHeadersApi"/>
  
  <extension type="WebappServlet" role="config"
    class="com.oxygenxml.rest.plugin.RestConfigExtension"/>
  
  <!-- You can access static files at XML_WEB_AUTHOR/plugin-resources/rest-resources/RESOURCE_FILE -->
  <extension type="WebappStaticResourcesFolder" path="web/resources/" href="rest-resources"/>
  
</plugin>
