.rest-domain-edit,
.domain-icon {
  margin-right: 5px;
  display:inline-block;
  background: 50% 50% no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height:16px;
}

.rest-domain-edit {
  padding-right: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXUlEQVR42mNgGBKgoKAgAYj/Q3ECJZrBmCLNRBuASzNRXhhemj8AsQExmgWA+ABZmpEMUQDiC+RqBtnugOQVA1JTG8jWCVCvbIAaCKIboDgAZAFWg////08RptgAAMDo/Jm25cdCAAAAAElFTkSuQmCC);
  margin: 0 0 0 10px;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 2px;
}

.rest-repo-preview:hover .rest-domain-edit {
  background-color: lightgrey;
}

.rest-repo-preview:hover .rest-domain-edit:hover {
  border-color: grey;
  cursor: pointer;
}